pyairports==2.1.1
tensordict<0.6
transformers==4.47.1
vllm==0.5.4
accelerate==1.6.0
codetiming
datasets
dill
flash_attn==2.7.4.post1
Flask==3.1.0
fastapi
aiohttp
pydantic
pandas
hydra-core
numpy
pybind11
ray
torch==2.4.0
uvicorn
vllm-flash-attn==2.6.1
xformers==0.0.27.post2
xxhash==3.5.0
yarl==1.19.0
wandb
swanlab
huggingface_hub
